body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    font-size: 22px;
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: #fff;
}

footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: #fff;
    bottom: 0px; 
    font-size: 22px;
}
